---
import { hash } from "argon2";
import { eq } from "drizzle-orm";
import { createForm, validateForm } from "simple:form";
import { scope } from "simple:scope";
import { z } from "zod";
import FormMessage from "~/components/form-message.astro";
import Layout from "~/components/layout.astro";
import { Button } from "~/components/ui/button";
import { Input } from "~/components/ui/input";
import { Label } from "~/components/ui/label";
import { db } from "~/db";
import { Users } from "~/db/schema";
import { createSession } from "~/db/session";

const register = createForm({
	email: z
		.string()
		.email()
		.refine(async (email) => {
			const [user] = await db
				.select({ id: Users.id })
				.from(Users)
				.where(eq(Users.email, email));

			return !user;
		}, "Email already exists"),
	password: z.string().min(6, "Password must be at least 6 characters"),
	confirmPassword: z.string().min(6, "Password must be at least 6 characters"),
	firstName: z
		.string()
		.min(2, "First name must be at least 2 characters")
		.regex(
			/^[A-Za-z\s]+$/,
			"First name must contain only alphabetic characters and spaces",
		),
	lastName: z
		.string()
		.min(2, "Last name must be at least 2 characters")
		.regex(
			/^[A-Za-z\s]+$/,
			"Last name must contain only alphabetic characters and spaces",
		),
});

const result = await Astro.locals.form.getData(register);

let formData: FormData | null = null;

if (Astro.request.method === "POST") {
	formData = await Astro.request.formData();
	const parsed = await validateForm({
		formData,
		validator: register.validator,
	});

	if (parsed.data) {
		const hashedPassword = await hash(parsed.data.password);

		try {
			const [user] = await db
				.insert(Users)
				.values({
					email: parsed.data.email,
					password: hashedPassword,
					firstName: parsed.data.firstName,
					lastName: parsed.data.lastName,
				})
				.returning();

			if (!user) {
				throw new Error("User not found");
			}

			const session = await createSession(user.id);

			const response = Astro.redirect("/");

			response.headers.set("Set-Cookie", session.join("; "));

			return response;
		} catch (error) {
			return new Response("Something went wrong", {
				status: 500,
			});
		}
	}
}
---

<Layout>
	<div class="container max-w-lg min-h-screen flex flex-col justify-center">
		<h1 class="text-2xl" transition:name="title">Register</h1>

		<div class="pt-8">
			<form method="POST" class="space-y-4">
				<div class="grid gap-4 grid-cols-2">
					<div transition:name="firstName">
						<Label htmlFor={scope("firstName")}>First Name</Label>
						<Input
							id={scope("firstName")}
							placeholder="John"
							required
							{...register.inputProps.firstName}
							autoComplete="given-name"
							defaultValue={formData?.get("firstName")?.toString()}
							autoFocus
						/>
						<FormMessage message={result?.fieldErrors?.firstName} />
					</div>
					<div transition:name="lastName">
						<Label htmlFor={scope("lastName")}>Last Name</Label>
						<Input
							id={scope("lastName")}
							placeholder="Doe"
							required
							{...register.inputProps.lastName}
							autoComplete="family-name"
							defaultValue={formData?.get("lastName")?.toString()}
						/>
						<FormMessage message={result?.fieldErrors?.lastName} />
					</div>
					<div class="col-span-2" transition:name="email">
						<Label htmlFor={scope("email")}>Email</Label>
						<Input
							id={scope("email")}
							placeholder="user@example.com"
							required
							{...register.inputProps.email}
							type="email"
							autoComplete="email"
							defaultValue={formData?.get("email")?.toString()}
						/>
						<FormMessage message={result?.fieldErrors?.email} />
					</div>
					<div transition:name="password">
						<Label htmlFor={scope("password")}>Password</Label>
						<Input
							id={scope("password")}
							placeholder="••••••••"
							required
							{...register.inputProps.password}
							type="password"
							autoComplete="new-password"
						/>
						<FormMessage
							id="password-mismatch"
							message={["Passwords do not match"]}
							style="display: none"
						/>
						<FormMessage message={result?.fieldErrors?.password} />
					</div>
					<div transition:name="confirmPassword">
						<Label htmlFor={scope("confirmPassword")}>Confirm Password</Label>
						<Input
							id={scope("confirmPassword")}
							placeholder="••••••••"
							required
							{...register.inputProps.confirmPassword}
							type="password"
							autoComplete="new-password"
						/>
						<FormMessage message={result?.fieldErrors?.confirmPassword} />
					</div>
				</div>

				<Button type="submit" transition:name="submit">Register</Button>

				<p class="pt-4" transition:name="login">
					Already have an account? <a href="/login" class="text-blue-500">
						Login
					</a>
				</p>
			</form>
		</div>
	</div>
</Layout>

<script is:inline data-astro-rerun>
	document.querySelector("form")?.addEventListener("submit", (event) => {
		const form = event.target;
		const password = form.elements.password;
		const confirmPassword = form.elements.confirmPassword;

		if (password.value !== confirmPassword.value) {
			event.preventDefault();

			document.querySelector("#password-mismatch").style.display = "block";

			password.value = "";
			confirmPassword.value = "";

			password.focus();
		}
	});

	document.querySelector("form")?.addEventListener("input", () => {
		for (const element of document.querySelectorAll(
			'[aria-live="assertive"]',
		)) {
			element.style.display = "none";
		}
	});
</script>
