---
import type { ActionReturnType } from "astro:actions";
import { actions } from "astro:actions";
import { scope } from "simple:scope";
import FormMessage from "~/components/form-message.astro";
import Layout from "~/components/layout.astro";
import { Button } from "~/components/ui/button";
import { Input } from "~/components/ui/input";
import { Label } from "~/components/ui/label";
import { createSession } from "~/db/session";
import { getInputErrors } from "~/lib/utils";

let formData: FormData | null = null;
let result: ActionReturnType<typeof actions.auth.register> | null = null;

if (Astro.request.method === "POST") {
	formData = await Astro.request.formData();
	result = await Astro.callAction(actions.auth.register, formData);

	if (result?.data) {
		const session = await createSession(result.data.userId);

		const response = Astro.redirect("/");

		response.headers.set("Set-Cookie", session.join("; "));

		return response;
	}
}

const errors = getInputErrors(result?.error);
---

<Layout>
	<div class="container max-w-lg min-h-screen flex flex-col justify-center">
		<h1 class="text-2xl" transition:name="title">Register</h1>

		<div class="pt-8">
			<form method="POST" class="space-y-4">
				<div class="grid gap-4 grid-cols-2">
					<div transition:name="firstName">
						<Label htmlFor={scope("firstName")}>First Name</Label>
						<Input
							id={scope("firstName")}
							placeholder="John"
							required
							autoComplete="given-name"
							name="firstName"
							autoFocus
							defaultValue={formData?.get("firstName")?.toString()}
						/>
						<FormMessage message={errors?.firstName} />
					</div>
					<div transition:name="lastName">
						<Label htmlFor={scope("lastName")}>Last Name</Label>
						<Input
							id={scope("lastName")}
							placeholder="Doe"
							required
							autoComplete="family-name"
							name="lastName"
							defaultValue={formData?.get("lastName")?.toString()}
						/>
						<FormMessage message={errors?.lastName} />
					</div>
					<div class="col-span-2" transition:name="email">
						<Label htmlFor={scope("email")}>Email</Label>
						<Input
							id={scope("email")}
							placeholder="user@example.com"
							required
							type="email"
							autoComplete="email"
							name="email"
							defaultValue={formData?.get("email")?.toString()}
						/>
						<FormMessage message={errors?.email} />
					</div>
					<div transition:name="password">
						<Label htmlFor={scope("password")}>Password</Label>
						<Input
							id={scope("password")}
							placeholder="••••••••"
							required
							type="password"
							autoComplete="new-password"
							name="password"
						/>
						<FormMessage message={errors?.password} />
					</div>
					<div transition:name="confirmPassword">
						<Label htmlFor={scope("confirmPassword")}>Confirm Password</Label>
						<Input
							id={scope("confirmPassword")}
							placeholder="••••••••"
							required
							type="password"
							autoComplete="new-password"
							name="confirmPassword"
						/>
						<FormMessage message={errors?.confirmPassword} />
					</div>
				</div>

				<Button type="submit" transition:name="submit">Register</Button>

				<p class="pt-4" transition:name="login">
					Already have an account? <a href="/login" class="text-blue-500">
						Login
					</a>
				</p>
			</form>
		</div>
	</div>
</Layout>

<script is:inline data-astro-rerun>
	document.querySelector("form")?.addEventListener("input", () => {
		for (const element of document.querySelectorAll(
			'[aria-live="assertive"]',
		)) {
			element.style.display = "none";
		}
	});
</script>
